<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">
    <!--    라이브 데모 모달-->
    <!-- Button trigger modal -->
    <!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
    <!--        Launch demo modal-->
    <!--    </button>-->

    <!-- Modal -->
<!--    <div class="modal fade" id="exampleModal" tabindex="-1"-->
<!--         aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h1 class="modal-title fs-5"-->
<!--                        th:if="${resultType == 'register'}">-->
<!--                        레시피 저장-->
<!--                    </h1>-->
<!--                    <h1 class="modal-title fs-5"-->
<!--                        th:if="${resultType == 'update'}">-->
<!--                        레시피 수정-->
<!--                    </h1>-->
<!--                    <h1 class="modal-title fs-5"-->
<!--                        th:if="${resultType == 'delete'}">-->
<!--                        레시피 삭제-->
<!--                    </h1>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    [[${result}]]-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!--    라이브 데모 모달-->

    <!--    검색화면 추가-->

    <div class="row mt-3">
        <div class="col">

            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">검색 및 필터 </h5>
                    <form action="/recipe/list" method="get">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select" name="type">
                                    <option value="">
                                        -----
                                    </option>
                                    <option value="t" th:selected="${pageRequestDTO.type == 't'}">
                                        요리명
                                    </option>
                                    <option value="c" th:selected="${pageRequestDTO.type == 'c'}">
                                        재료
                                    </option>
                                    <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">
                                        요리명+재료
                                    </option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="keyword"
                                   th:value="${pageRequestDTO.keyword}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="float-end">
                                <button class="btn btn-primary" type="submit">검색</button>
                                <button class="btn btn-secondary clearBtn" type="reset">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Recipe List
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Recipe List
                    </h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">요리명</th>
                            <th scope="col">재료</th>
                        </tr>
                        </thead>
                        <tbody th:with="link = ${pageRequestDTO.link}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">
                                [[${dto.recipeid}]]
                            </th>
                            <td>
                                <a th:href="|@{/recipe/read(recipeid=${dto.recipeid})}&${link}|">
                                    [[${dto.recipename}]]
                                </a>
                            </td>
                            <td>[[${dto.ingredients}]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start - 1}">Previous</a>
                            </li>
                            <th:block th:each="i:${#numbers.sequence(responseDTO.start,responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link"
                                       th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="javascript" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click",
        function (e) {
            e.preventDefault()
            e.stopPropagation()

            const target = e.target

            if (target.tagName !== "A") {
                return
            }
            const num = target.getAttribute("data-num")
            const formObj = document.querySelector("form")

            formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`
            formObj.submit()

        }, false)

    const result = [[${result}]];
    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }

</script>

</body>
</html>