<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org"
      layout:decorate="~{layout/base.html}"
>
<body>
<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Reecipe update
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Reecipe update
                    </h5>
                    <form id="f1" method="post" th:action="@{/recipe/update}">
                        <div class="mb-3">
                            <label for="recipeid" class="form-control">no</label>
                            <input type="text" class="form-control" id="recipeid" name="recipeid"
                                   th:value="${dto.recipeid}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="recipename" class="form-control">요리명</label>
                            <input type="text" class="form-control" id="recipename" name="recipename" placeholder="요리명을 입력해주세요"
                             th:value="${dto.recipename}">
                        </div>
                        <div class="mb-3">
                            <label for="ingredients" class="form-control">재료</label>
                            <textarea type="text" class="form-control col-sm-5" id="ingredients"
                                      name="ingredients" rows="5" placeholder="재를 입력해주세요"
                                       >[[${dto.ingredients}]]</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="method" class="form-control">재료</label>
                            <input type="text" class="form-control" id="method" name="method" placeholder="재료"
                                   th:value="${dto.method}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="urlsource" class="form-control">참고 URL</label>
                            <input type="text" class="form-control" id="urlsource" name="urlsource" placeholder="재료"
                                   th:value="${dto.urlsource}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="createday" class="form-control">등록시간</label>
                            <input type="text" class="form-control" id="createday" name="createday"
                                   th:value="${#temporals.format(dto.createday,'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="updateday" class="form-control">수정시간</label>
                            <input type="text" class="form-control" id="updateday" name="updateday"
                                   th:value="${#temporals.format(dto.updateday,'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary modBtn">수정하기</button>
                            <button type="button" class="btn btn-danger deleteBtn">삭제하기</button>
                            <button type="button" class="btn btn-secondary listBtn">목록가기</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<script layout:fragment="javascript" th:inline="javascript">

   // 수정폼으로 이동하기.
   document.querySelector(".submitBtn").addEventListener("click",
       function (e){
           // 수정폼으로 가야함. 그러면, 필요한 준비물 tno 번호가 필요함
           self.location = `/recipe/update?bno=${dto.recipeid}&${pageRequestDTO.link}`
               ,false})

</script>

</body>
</html>